APP_ENV=dev

NO_REPLY_EMAIL= 
SUPPORT_EMAIL=
 
 
DB_DSN="mysql:host=localhost;dbname=yiibasic"
DB_USER=root
DB_PASSWORD=
DB_PREFFIX=
  
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

 